{{>header}}
<section>
     {{#each result}}
       <div class="v-mid  mt4 w-80 h4 bg-center cover center tc" style="background-image:url(assets/{{name}}.jpg)">
          <div class="tc pv4">
            <a href="{{getLink id}}" class="no-underline">
              <h2 class="f2 white bg-black o-50 br-pill w5 center ">{{name}}</h2>
            </a>
          </div>
       </div>
       {{/each}}
 </section>
 <div id="mapid" style="height:180px">s</div>
 <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
 <script>
 var mymap = L.map('mapid').setView([31.5611, 35.1033], 13);

 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(mymap);

 </script>
{{>footer}}
