{{>header}}
<form action="/login" method="POST">
  <input class="inputs" type="email" name="email" value="" placeholder="Type your email..">
  <input class="inputs" type="password" name="password" value="" placeholder="Type a password..">
  <input type="submit" name="submit" value="login">
</form>
<p>{{message}}</p>
