{{>header}}
<section>
     {{#each result}}
       <div class="v-mid  mt4 w-80 h4 bg-center cover center tc" style="background-image:url(assets/{{name}}.jpg)">
          <div class="tc pv4">
            <a href="#" class="no-underline">
              <h2 class="f2 white bg-black o-50 br-pill w5 center ">{{name}}</h2>
            </a>
          </div>
       </div>
       {{/each}}
 </section>

{{>footer}}
