
{{>header}}
<section>
       <div class="v-mid  mt4 w-80 h4 bg-center cover center tc" style="background-image:url(assets/{{name}}.jpg)">
          <div class="tc pv4">
              <h1 class="f2 white bg-black  br-pill w5 center ">Error 500 </h1>
              <h2 class=" white bg-black br-pill w5 center ">Server Error</h2>
              <br>
              <br>
            </a>
          </div>
       </div>
 </section>
