<section>
     {{#each result}}
       <div>
         <img src="{{image_url}}" alt="Halls">
         <a href="{{gethall id}}">
         <p>{{name}}</p>
         </a>
       </div>
       {{/each}}
 </section>
