{{>header}}
<div class="outerContainer">
<form action="/signup" method="POST">
  <div class="inputsContainer">
  <input class="inputs" type="text" name="name" value="" placeholder="Type your name..">
  <input class="inputs" type="email" name="email" value="" placeholder="Type your email..">
  <input class="inputs" type="password" name="password" value="" placeholder="Type a password..">
  <input class="inputs" type="password" name="repassword" value="" placeholder="Type a re password..">
  <input class="inputs" type="text" name="phone_number" value="" placeholder="Type a re num..">
  <input class="inputs" type="text" name="facebook" value="" placeholder="Type a re face..">


</div>
<div class="home-login">
   <input type="submit" name="submit" value="Sign up">

</form>
</div>
<p>{{message}}</p>
