<footer>
  <div class="mt4  cover tc pv4" style="background-image:url(assets/footer.svg)">
      <h2 class="center white fw1 mt4">© 2019 PARTY Co, All Rights Reserved</h2>
        <h2 class="center white fw1">
          <a href="#" class="no-underline white">Terms of Use </a>|
          <a href="#" class="no-underline white">Privacy </a>|
          <a href="#" class="no-underline white">Contact us </a>
          </h2>
  </div>
</footer>
