<header class="h3 h-100-ns bg-black">
<img src="assets/logo.png" alt="logo" class="w3 w4-ns">
<div class=" fr mr4">
<img src="assets/header.svg" >
  <div class="ml4 mt4" style="margin-top:-25px;">
    <a href="#" class="no-underline black ">Sign up </a>|
    <a href="#" class="no-underline black">Login </a>
  </div>
  <div>
</header>
