<header class="h3 h-100-ns bg-black">
<img src="../assets/logo.png" alt="logo" class="w3 w4-ns">
<div class="fr mr4">
<img src="../assets/header.svg" >
  <div class="ml3 mt4" style="margin-top:-25px;">
    <form action="/signup" class="black di">
      <input class="inputButtons" type="submit" name="" value="Sign up" class="black" style="background-color:rgba(0,0,0,0); border: none;"/> |
    </form>
    <form action="/login" class="black di">
      <input class="inputButtons" type="submit" name="" value="log in" class="black" style="background-color:rgba(0,0,0,0); border: none;"/>
    </form>
  </div>
  <div>
</header>
