<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content ="width=device-width, initital-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="resets.css">
    <title>party3lakefak</title>
  </head>
  <body class="m0 pa0">
    {{{body}}}
  </body>
</html>
